*Comentario do css
*/

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#manu li {
    display: inline;
    padding: 30px;
 

}
#manu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}
#manu li a:hover {
        color: aqua;
}
.p-30 {
    padding: 30px;
}
.br-50{
    border-radius: 50%;
}

.wh-330 {
        width: 300px;
        height: 300px;
}
.tm-social {
    width: 50px;
    height:50px;
    
}
.mb-50 {
    margin-bottom: 50px;
}
.ml-50{
    margin-left: 50px ;
}